.animation-for-logo{
	animation:logo 1s forwards;
	transition: all 0.5s;
}
@-webkit-keyframes logo{
	0%{
		transform: translateX(-1000px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}
.animation-for-menu{
	animation:menu 1s forwards;
	animation-delay: 1.5s;
	transition: all 0.5s;
}
@-webkit-keyframes menu{
	0%{
		transform: translateY(-200px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
.animation-for-news{
	animation:news 1s forwards;
	animation-delay: 2s;
	transition: all 0.5s;
}
@-webkit-keyframes news{
	0%{
		transform: translateX(600px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}